<div class="container">
    <div class="login-wrapper" >
      <div class="grid-container">
        <div class="login-ctnr">
          
          <!-- LOGIN BOX -->
          <div class="login-content box box-banner">
            <div class="grid-row">
                <div class="col-12 form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" name="Name" [(ngModel)]="loginDto.name"  autofocus />
                </div>
              </div>
              <br>
            <div class="grid-row">
              <div class="col-12 form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="username" [(ngModel)]="loginDto.username"  autofocus />
              </div>
            </div>
            <br>
            <div class="grid-row">
              <div class="col-12 form-group">
                <label>Password</label>
                <div class="password">
                  <input type="password" class="form-control" [(ngModel)]="loginDto.password" name="password"/>
                </div>
              </div>
            </div>
            <br>
            <div class="grid-row">
              <div class="col-12 button-ctnr">
                <button type="submit" class="button button-primary button-width-full" (click)="login()">Login</button>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  
  
  
  